/* Animations */
@keyframes blink {
    0% {color: lightpink}
    50% {color: steelblue}
    100% {color: lightpink}
}

/* Extra styles */
.error {
    padding: 0 20px;
}

.thumbnail:hover {
    box-shadow: 0 0 30px 5px lightblue;
    transition: 0.5s;
}

.project-img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.blink {
    animation: blink 2s infinite;
    transition: .1s;
}